.navbar {
  background-color: #e9312d;
  background-image: linear-gradient(15deg, #e9312d 0%, #eec366 100%);
  font-weight: bold;
  height: 95px;
  width: 100%;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 2);
}

.toolbar {
  display: flex;
  min-height: 50px;
  padding: 0px 10px;
}

.title {
  font-size: 65px;
  margin: 10px 3px 3px 3px;
}
