h4 {
  margin-top: 5px;
  font-size: 28px;
}

hr {
  width: 90%;
  color: #fcca46;
  margin-left: auto;
  margin-right: auto;
}

.new-entry-form {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 22px;
  height: 510px;
  width: 450px;
  margin: 0px 0px 0px 15px;
  padding: 25px 5px 5px 5px;
  background-color: #919191;
  border: 1px solid #7e7c7c;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(65, 64, 64);
  overflow-wrap: break-word;
  hyphens: manual;
}

.form-text input {
  width: 400px;
  margin-bottom: 5px;
  padding: 0px 3px;
}

.form-textarea textarea {
  height: 200px;
  width: 400px;
  padding: 0px 5px;
  resize: none;
}

.submit-button {
  font-size: 18px;
  margin-top: 10px;
  width: 100px;
  padding: 5px;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #fcca46 0%,
    #f06916 51%,
    #fcca46 100%
  );
  border-radius: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(58, 56, 56, 0.12), 0 1px 2px rgba(66, 64, 64, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
}

.submit-button:hover {
  box-shadow: 0 10px 20px rgba(58, 56, 56, 0.19),
    0 6px 6px rgba(66, 64, 64, 0.23);
  margin: 10px auto;
  background-position: right center;
}
