* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h2 {
  font-family: "Ruslan Display", cursive;
  font-size: 2.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(10, 10, 10, 0.5)),
    url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=860&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}

.posts-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

.post-list {
  width: 60%;
  margin-right: 40px;
}

.post-body {
  border: 1px solid rgb(170, 169, 169);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px 0px 7px 0px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgb(34, 33, 33);
}

.post-body p {
  color: #212529;
  margin-top: 5px;
}

@media only screen and (max-width: 760px) {
  .posts-container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .submit-post-container {
    order: 1;
  }

  .new-entry-form,
  form {
    margin: 0px 0px px 0px;
  }

  .post-list {
    order: 2;
    margin: 40px;
    width: 500px;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1199px) {
  .posts-container {
    width: 95%;
  }
  .post-list {
    width: 65%;
    margin: 0px 30px 40px 40px;
  }
}
