* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h2 {
  font-family: "Ruslan Display", cursive;
  font-weight: bold;
  color: #100316;
  font-size: 2.5rem;
}

h4 {
  font-size: 30px;
  font-weight: 1000;
  padding-bottom: 5px;
  border-bottom: 1px solid #b4b2b4;
}

body {
  font-family: "Philosopher", sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.2),
      rgba(31, 27, 30, 0.73)
    ),
    url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1630&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}

.posts-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

.post-list {
  width: 60%;
  margin-right: 20px;
}

.post-body {
  border: 1px solid #100316;
  background-color: #f0efec;
  border-radius: 4px;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px rgb(13, 7, 17);
  overflow-wrap: break-word;
  hyphens: manual;
}

.post-body p {
  color: #2c252e;
  font-size: 22px;
  height: 100px;
  overflow: auto;
  margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
  .new-entry-form {
    margin: 0px 0px 0px 0px;
  }

  .posts-container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .submit-post-container {
    order: 1;
  }

  .post-list {
    order: 2;
    margin: 40px;
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1281px) {
  .post-container {
    width: 70%;
  }
  .post-list {
    width: 50%;
  }
}
